In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://github.com/KamatMayur/EmotionAnalysis/raw/main/main/saved%20data/tokenized_text.csv')

In [3]:
data

,Unnamed: 0,text,Emotions,Emotion_id,tokenized
0,0,That game hurt.,sadness,26,"['game', 'hurt']"
1,1,"You do right, if you don't care then fuck 'em!",neutral,20,"['right', 'dont', 'care', 'fuck', 'em']"
2,2,Man I love reddit.,love,18,"['man', 'love', 'reddit']"
3,3,"[NAME] was nowhere near them, he was by the Fa...",neutral,20,"['name', 'nowher', 'near', 'falcon']"
4,4,Right? Considering it’s such an important docu...,gratitude,15,"['right', 'consid', '’', 'import', 'document',..."
...,...,...,...,...,...
35029,35029,When I harass women with innuendo and they pol...,neutral,20,"['harass', 'women', 'innuendo', 'polit', 'defl..."
35030,35030,"You’re good, no worries",admiration,0,"['’', 'good', 'worri']"
35031,35031,"one's a rapist, and the other's a stingy yank ...",annoyance,3,"['one', 'rapist', 'other', 'stingi', 'yank', '..."
35032,35032,This is great! Can anyone make a request with ...,admiration,0,"['great', 'anyon', 'make', 'request', 'draw']"
35033,35033,No but it should be,neutral,20,[]